{% extends "layouts/default.html" %}

{% block content %}
  <div class="hero hero--text" style="background-image: url('{{ page.hero.image | image }}');">
    <div class="container">
      <div class="hero__content">
        <h1>{{ page.hero.heading }}</h1>
        <p>{{ page.hero.text }}</p>

        <a href="{{ page.hero.button.url }}" class="button">{{ page.hero.button.text }}</a>
      </div>
    </div>
  </div>

  <div class="content-block">
    <div class="container">
      <div>
        <h2>{{ page.introduction.heading }}</h2>
        <p>{{ page.introduction.text }}</p>
      </div>

      <div>
        <img src="{{ page.introduction.image | image }}">
      </div>
    </div>
  </div>

  <div class="stat-bar">
    <div class="container">
      <ul>
        {% for stat in page.statBar %}
          <li>
            <h1>{{ stat.value }}</h1>
            <p>{{ stat.label }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="thumb-list thumb-list--three">
    <div class="container">
      <h2 class="heading">Featured Posts</h2>

      <ul>
        {% for post in page.featuredPosts %}
          <li>
            <a href="{{ post | route('post') }}" class="tout">
              <div>
                <img src="{{ post.featureImage | image }}">
              </div>

              <div class="tout__content">
                <h4>{{ post.title }}</h4>
                <p>
                  <time>{{ post._enabledAt | date("MMMM D, YYYY") }}</time>
                </p>
                <p>{{ post.deck }}</p>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="button-container">
        <a href="/blog" class="button">View all posts</a>
      </div>
    </div>
  </div>

  {% include "partials/trapdoor.html" %}

{% endblock %}
