/* Hero */
.hero {
  position: relative;
  background-size: cover;
  background-position: center center;
  height: 64.5rem;
}

.hero--text {
  color: #fff;
}

.hero--text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #442ab9;
  opacity: 0.9;
}

.hero .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}

.hero__content {
  max-width: 56rem;
}

.hero h1 {
  margin-bottom: 2.4rem;
}

.hero .button {
  margin-top: 2.4rem;
}
