<section>
  <div class="our-books">
    <div class="container">
      <header>
        <h2 class="heading">Our Books</h2>
      </header>
      <ul>
        {% for book in site.books.items.slice(0, 4) %}
          <li class="book-tout">
            <a href="{{ book | route('books') }}">
              <img class="book-tout__image" src="{{ book.coverImage.path | image }}">
              <h3>{{ book.title }}</h3>
              <p>{{ book.author.name }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
