<!doctype html>

<html>
<head>
  <title>{% block title %}{{ site.settings.siteTitle }}{% if page.title %} - {{ page.title }}{% endif %}{% endblock %}</title>

  <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700" rel="stylesheet">

  <link rel="prefetch stylesheet" href="/stylesheets/loading.css"/>
</head>

<body>
  <div id="app" style="height:100%">
    <div class="loading-static">
      <div class="circular-static">
        <svg class="circle" viewBox="0 0 60 60">
          <circle class="path" cx='30' cy='30' r='25' />
        </svg>
      </div>
    </div>
  </div>
</body>
</html>
