/* Content Block */
.content-block {
  margin: 8rem 0;
}

.content-block .container {
  display: flex;
  align-items: center;
}


.content-block .container > * {
  flex: 1 0 50%;
}

.content-block .container > * + * {
  padding-left: 4rem;
}

.content-block h2 {
  margin-bottom: 2.4rem;
}
