.author {
  margin: 8rem 0;
}

.author .container {
  display: flex;
}

.author__image {
  width: 20rem;
  height: 20rem;
  flex: 0 0 20rem;
  border-radius: 10rem;
  overflow: hidden;
}

.author .content {
  padding-left: 7.2rem;
  flex: 1 1 100%;
}
