<nav class="menu">
  <a href="{{''|route('homepage')}}">Shape Portfolio</a>
  <ul>
  {% for project in menu.projects.items %}
    <li><a href="{{project|route('project')}}">{{project.name}}</a></li>
  {% endfor %}
  </ul>
  <hr>
  <a href="{{''|route('about')}}">About</a>
  <ul>
  {% for profile in menu.about.socialProfiles %}
    <li>
      <a href="{{profile.profileUrl}}">
        <img src="{{profile.socialNetworkIcon.path|image({w: 48, h: 48})}}">
        <span>{{profile.socialNetwork}}</span>
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>