/*BEGIN - REMOVE WHEN YOU START YOUR PROJECT*/
html {
  height: 100%;
}

body {
  align-items: center;
  background: linear-gradient(45deg, #5539d2, #20088a);
  border-top: 5px solid #5edeb3;
  color: #fff;
  display: flex;
  font-family: monospace, sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
  text-align: center;
}
/*END - REMOVE WHEN YOU START YOUR PROJECT*/
