{% extends "layouts/default.html" %}

{% block content %}
  <img src="{{project.coverImage.path|image({h: 600, w: 1200})}}">
  <h1>{{project.name}}</h1>
  <p>{{project.startDate|date('YYYY')}}{% if not project.endDate and project.startDate|date('YYYY') !== project.endDate|date('YYYY') %} – {% if project.endDate %}{{project.endDate|date('YYYY')}}{% else %}Present{% endif %}{% endif %}</p>
  {% if project.client %}<p><a href="{{project.client.url}}">{{project.client.name}}</a></p>{% endif %}
  <div>{{project.description|safe}}</div>
{% endblock %}
