<!doctype html>

<html>
{% include 'partials/head.html' %}

<body>

<div class="container" id="barba-wrapper">
  {% include 'partials/menu.html' %}
  <div class="main barba-container">
    {% block content %}{% endblock %}
  </div>
  <footer class="footer">
    <p>© 2018 <a href="https://takeshape.io">TakeShape Inc.</a></p>
  </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" type="text/javascript"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
